.About{
    background-color: #feffff;
    font-family: 'Mukta Mahee';
}
.inner-About{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5.852rem;
    margin-bottom: 4rem;
    margin-left: 9.0625vw;
    margin-right: 9.2708vw;
}
.About-title{
    width: 100%;    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}
.About-title .title-head{
    font-size: 3.03vh;
    line-height: 12.25vh;
    color: #c2c2c2;
    font-weight: 800;
}
.title-subhead{
    font-size: 12.83vh;
    line-height: 13.23vh;
    font-weight: bold;
    font-family: "BuenosAiresTrialWeb";
}
.title-subhead span{
    color: #f36223;
}
.About-body{
    flex: 2;
    padding-left: 9.916vw;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    
}
.About-body .paragraph{
    font-size: 2.64vh;
    line-height: 4.5vh;
    font-weight: 500;
    color: #4d4c4c;
}
.About-ques{
    font-size: 3.72vh;
    line-height: 14.41vh;
    color: #272727;
    font-weight:700;
}




@media only screen and (max-width: 385px) {
    .About-title .title-subhead {
      font-size: 2.5rem;
    }
}
@media only screen and (max-width: 286px) {
    .About-title .title-subhead {
      font-size: 2rem;
    }
}