.Clients{
    width: 100%;
    background-color: #f5f0ec;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inner-Clients{
    margin-top: 3.083vw;
    margin-bottom: 3.083vw;
    margin-left: 8.958vw;
    margin-right: 8.958vw;
}
.Clients .clients-moto{
    font-size: 1.615vw;
    line-height: 2.188vw;
    color: #272727;
    font-weight: 400;
}
.sponsors{
    margin-top: 1.5vw;
    width: 50%;
}