.Experience{
    width: 100%;
    background-color: #feffff;
    font-family: 'Mukta Mahee';
}
.inner-Experience{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 4.948vw;
    margin-bottom: 4.948vw;
    margin-left: 8.958vw;
    margin-right: 8.958vw;
}
.experience-title{
    display: flex;
    flex-direction: column;
    color: #3b5054;
}
.experience-title .title-head{
    font-size: 2.604vw;
    line-height: 7.656vw;
    font-weight: 700;
}
.experience-title .title-head span{
    color: #dd5214;
}
.experience-title .title-subhead{
    font-size: 1.406vw;
    line-height: 2.396vw;
    font-weight: 500;
    color: #4d4c4c;
    font-family: 'Mukta Mahee';
}
.experience-body{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.experience-list{
    display: flex;
    flex-direction: column;
    margin-top: 2.958vw;
}
.experience-industry{
    display: flex;
    flex-direction: row;
    padding-top: 2.083vw;
    text-align: left;
}
.experience-industry img{
    width: 2.344vw;
    height: 2.344vw;
}
.industry-name{
    font-size: 1.719vw;
    line-height: 2.448vw;
    color: #272727;
    font-weight: 400;
    padding-left: 1.406vw;
}