.Footer{
    width: 100%;
    background-color: #1f1e1e;
}
.inner-Footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-top: 2.865vw;
    margin-bottom: 2.865vw;
    margin-left: 8.958vw;
    margin-right: 8.958vw;
}
.footer-logo img{
    width: 10.417vw;
    height: 9.219vw;
}
.Footer .footer-body{
    display: flex;
    flex-direction: row;
}


.Address{
    font-size: 1.406vw;
    line-height: 2.188vw;
    color: #b2b2b2;
    margin-left: 2.865vw;
    margin-top: 1.614vw;
}
.footer-icon{
    margin-top: 3.385vw;
}
.Address-title div{
    font-weight: 600;
}
.Address-body{
    line-height: 2.60vh;
    font-weight: 500;
    /* margin-top: 1rem; */
    color: #777777;
}
.social-media{
    margin-left: 2.604vw;
}
.social-media-contents{
    display: flex;
    flex-direction: column;
}
.footer-icon .social-media-contents .media-text{
    font-size: 1.406vw;
    line-height: 2.51vw;
    font-weight: 400;
    color: #777777;
}
.social-media img{
    padding-right: 1.042vw;
    width: 2.344vw;
    height: 2.344vw;
}