.Mission{
    width: 100%;
    font-family: 'Mukta Mahee';
    background-image: url("../new Copperants/public/mountain2.png"),linear-gradient(-32deg, #4b3a3a 0%, #745243 100%);
    background-blend-mode:color-burn;
    background-size: cover;
    background-repeat: no-repeat;
}
.inner-Mission{
    margin-top: 12.61vh;
    margin-bottom: 12.61vh;
    margin-left: 9.0625vw;
    margin-right: 9.2708vw;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    flex-wrap: wrap;
}
.Mission-title{
    flex: 1;
    font-size: 2.66vh;
    line-height: 10.72vh;
    color: #5e5e5e;
    font-weight: 700;
}
.Mission-body{
    flex: 2;
    /* margin-top: 3vh; */
    width: 164.8vh;
    /* height: 22.77vh; */
    font-size: 3.26vh;
    line-height: 5.32vh;
    color: #ffffff;
    text-align: left;
    font-family: "BuenosAiresTrialWeb";
    align-items: center;
}

@media only screen and (max-width: 385px) {
    .Mission-body {
      font-size: 0.5rem;
    }
}