.Mission{
    width: 100%;
    font-family: 'Mukta Mahee';
    background-image: url("../new Copperants/public/mountain2.png"),linear-gradient(-32deg, #4b3a3a 0%, #745243 100%);
    background-blend-mode:color-burn;
    background-size: cover;
    background-repeat: no-repeat;
}
.inner-Mission{
    display: flex;
    flex-direction: row;
    margin-top: 7.448vw;
    margin-bottom: 7.448vw;
    margin-left: 8.958vw;
    margin-right: 8.958vw;
}
.Mission-title{
    flex: 1;
    font-size: 1.615vw;
    line-height: 2.51vw;
    color: #5e5e5e;
    font-weight: 700;
}
.Mission-body{
    flex: 4;
    font-size: 1.979vw;
    line-height: 3.229vw;
    color: #ffffff;
    text-align: left;
    font-family: "BuenosAiresTrialWeb";
    align-items: center;
}