.Services{
    width: 100%;
    background-color: #feffff;
    font-family: 'Mukta Mahee';
    display: flex;
    flex-direction: column;
}
.inner-Services{
    margin-top: 2.208vw;
    margin-bottom: 2.208vw;
    margin-left: 8.958vw;
    margin-right: 8.958vw;
}
.Services .services-title{
    font-size: 1.615vw;
    line-height: 6.51vw;
    color: #b2b2b2;
    font-weight: 700;
}
.Services .services-body{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.services-body .services-item{
    display: flex;
    flex-direction: column;
}
.services-item-body{
    display: flex;
    flex-direction: row;
    margin-top: 3.438vw;
}
.services-item-body div img{
    margin-right: 1.823vw;
    width: 4.688vw;
    height: 4.688vw;
}
.services-details{
    display: flex;
    flex-direction: column;
}
.services-item-body .services-details .services-topic{
    font-size: 1.719vw;
    line-height: 4.5vw;
    font-weight: 700;
    color: #272727;
}
.services-item-body .services-details p{
    font-size: 1.406vw;
    /* line-height: 3.229vw; */
    color: #272727;
    font-weight: 400;
}